function SetFood.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push this 1
push this 2
push constant 2
call Food.new 3
pop this 0
push pointer 0
return
function SetFood.dispose 0
push argument 0
pop pointer 0
push this 0
call Food.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SetFood.placeFood 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push this 1
call Random.randRange 1
pop local 1
push this 2
call Random.randRange 1
pop local 2
push pointer 0
push local 1
push local 2
call SetFood.checkOccupied 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 1
pop this 1
push local 2
pop this 2
push constant 0
return
function SetFood.setOccupied 1
push argument 0
pop pointer 0
push argument 1
push this 3
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function SetFood.checkOccupied 1
push argument 0
pop pointer 0
push argument 1
push this 3
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function SetFood.checkFood 0
push argument 0
pop pointer 0
push argument 1
push this 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push this 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
